
@import '../sass-utils/mixins';

@include xs {
  .menu {
    width: 100%;
    height: 400px;
  }
}
@include sm {
  .menu {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
  }
  .menu :nth-child(1) { order: 1; }
  .menu :nth-child(2) { order: 2; }
  .menu :nth-child(3) { order: 3; }
  .menu :nth-child(4) { order: 4; }
  .menu :nth-child(5) { order: 5; }
  .menu :nth-child(6) { order: 6; }
}
@include md {
  .menu {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin-top: 100px;
  }
  .menu :nth-child(1) { order: 1; }
  .menu :nth-child(2) { order: 2; }
  .menu :nth-child(3) { order: 3; }
  .menu :nth-child(4) { order: 4; }
  .menu :nth-child(5) { order: 5; }
  .menu :nth-child(6) { order: 6; }
}