
@import '../sass-utils/variables';
@import '../sass-utils/mixins';

body {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  height: 100vh;
  display: block;
  overflow: scroll;
  background-image: url("https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fcdnb.artstation.com%2Fp%2Fassets%2Fimages%2Fimages%2F014%2F665%2F033%2Foriginal%2Fyargon-kerman-webp-net-gifmaker-39.gif%3F1544919451&f=1&nofb=1&ipt=33560dc36b75adb3ab79e9dec21d28a2bf538c5e092c4d5e48f965a64f25e3d2&ipo=images");

}

.title-text {
  font-family: $title-font;
  font-size: 40px;
  background: linear-gradient(360deg, rgba(0,235,212,1) 0%, rgba(186,2,191,1) 53%, rgba(255,128,0,1) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  @include xs {
    line-height: 1.2;
  }
  @include sm {}
  @include md {
    font-size: 60px;
    text-align: center;
  }
}

.subtitle-text {
  font-family: $subtitle-font;
  color: #00e4ff;

  @include xs {
    font-size: 25px;
    position: relative;
    text-align: left;
    top: 20px;
  }
  @include sm {}
  @include md {
    font-size: 35px;
    text-align: center;
    top: 30px;
  }
  
}

section {
  margin: 0 auto;
  z-index: 2;
  
  @include xs {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 50px;
  }
  @include sm {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 50px;
  }
  @include md {
    width: 500px;
  }
  
  
  
}

hr {
  background-color: white;
}